@{
    ViewBag.Title = "Sobre";
}
<h2>@ViewBag.Title</h2>
<h3>Adote Um Amigo</h3>

<p>Esse site tem a finalidade de ajudar a todas pessoas empenhadas a adotar ou doar um Animal, visando proporcionar uma vida melhor para nossos queridos Pets. O site está liberado para o uso pessoal ou de ONG's voltadas a cuidar de animais abandonados, dando assim uma chance para que essa instituição possa Doar diminuindo a demanda de quem não recebe tanta ajuda como deveria.</p>
