@{
    ViewBag.Title = "Página Principal";
}

<div class="jumbotron">    
    <img src="~/Content/ImagensSite/AdoteUmAmigo.png" width="1020" height="323">
    <hr/>
    <a href="http://localhost:52794/Pets/IndexHome" class="btn btn-warning btn-block btn-lg">Ver Amigos &raquo;</a>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Onde surgiu a palavra Pet?</h2>
        <p>
            Todo mundo sabe que pet significa animal de estimação, e que o termo vem do inglês. 
            Bom, a verdade é que a palavra pet vem de um significado muito antigo. 
            Os primeiros registros desse termo usado para animais de estimação são de 1530, 
            da Escócia e do dialeto...
        </p>
        <p><a class="btn btn-warning" href="http://gatinhobranco.com/?p=2259">Leia mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Maus tratos aos animais é crime.</h2>
        <p>
            O Decreto Nº 24.645/34 prevê pena para todo aquele que incorrer em seu artigo 3º, item V, 
            “abandonar animal doente, ferido, extenuado ou mutilado, bem como deixar de ministrar-lhe tudo que 
            humanitariamente se lhe possa prover, inclusive assistência veterinária”.</p>
        <p><a class="btn btn-warning" href="http://www.arcabrasil.org.br/leis-maus.php">Leia mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Dicas de limpeza para quem tem pets em casa.</h2>
        <p>
            A limpeza dos ambientes é fundamental para a prevenção de doenças. Do ponto de vista do animal, 
            isso é capaz de evitar a presença de pulgas e carrapatos, além de outros problemas de saúde. Já para aqueles
            que moram com os pets, a higienização...</p>
        <p><a class="btn btn-warning" href="http://www.petcidade.com.br/dicas-de-limpeza-para-quem-tem-pets-em-casa/">Leia mais &raquo;</a></p>
    </div>
</div>